@import (reference) "../utils/constant.less";

.container {
    @media @mobile {
        grid-area: auto !important;
    }
}

.title {
    margin-top: 36px;
    font-size: 10px;
    text-align: center;

    @media @desktop {
        font-size: 12px;
    }
}

.collab {
    margin-top: 8px;
    color: @text-50;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;

    @media @desktop {
        font-size: 12px;
    }
}